body{
    background: url("/img/pexels-karolina-grabowska-5208363.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}