body{
    background: url("/Application-de-productivit-/img/pexels-karolina-grabowska-5208363.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.completed{
    text-decoration: line-through;
    color: gray;  /* Optionnel : change la couleur du texte */
}